.wrapper
	.row.centrediv
		.medium-12.columns
			h1 Free Code Camp Weather Checker
			p Weather in your area
	.row.centrediv
		.medium-4.columns
			img#icon src="" 
	.row.centrediv
		.medium-4.columns
			#conditions.datapoint
			#temperature.datapoint
	.row.centrediv
		.medium-4.columns
		.medium-4.columns.centrediv
			#tempRange.datapoint
		.medium-4.columns
	.row.centrediv
		.medium-4.columns
			#wind.datapoint
	.row.centrediv
		.medium-4.columns
				a.button#switchUnits Switch Units
			
			
			